# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user              nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log;
#error_log  /var/log/nginx/error.log  notice;
#error_log  /var/log/nginx/error.log  info;

pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}

http {
    upstream lbtest {
    {% for host in groups['webservers'] %}
   	server {{ hostvars[host].ipv4.address }}:80 ;
    {% endfor %}
    }

    server {
        listen 80;
        server_name lbtest;
        location / {
            proxy_pass http://lbtest;
        }
    }
}
